<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812205537802-o0c7htm38oro3fi5v7hebb2bem5vsbil.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812205537802-o0c7htm38oro3fi5v7hebb2bem5vsbil</string>
	<key>API_KEY</key>
	<string>AIzaSyAKohR-dGW4HVXDaZvRsHVGyy48BjErMGo</string>
	<key>GCM_SENDER_ID</key>
	<string>812205537802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gritsoft.app.emombti</string>
	<key>PROJECT_ID</key>
	<string>embti-6e22a</string>
	<key>STORAGE_BUCKET</key>
	<string>embti-6e22a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:812205537802:ios:5ffd0a4e7c0e3f4c5a3df3</string>
</dict>
</plist>
